.main-nav-box{
    background-color: pink;
    height:80px;
    display: flex;
    align-items: center;
    justify-content:left;
    width:100vw;
}
.main-nav-box .Link{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    margin-left:10px;
    font-size: larger;
    margin-right:0px;
    color:black;
    padding:10px 7px;
   
}
.Link:hover{
    background-color:rgba(255,255,255,0.3)
}
.main-nav-box h1{
    margin-left:200px;
    margin-right:900px;
    -webkit-text-stroke:1px white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
}
.main-nav-box img{
    height: 30px;
    position: absolute;
    top:17px;
    right:350px;
    padding:8px 8px;
}
.main-nav-box img:hover{
    background-color:rgba(255,255,255,0.3);
}
.themeimg{
    left:1440px
}