
.main-nav-box {
    background-color: pink;
    height: 80px;
    display: flex;
    align-items: center;
    width: 100vw;
    padding: 0 20px; 
    box-sizing: border-box; 
}

.logo {
    margin-right: auto; /* Pushes the logo to the left */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-stroke: 1px white;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links .Link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    margin-left: 20px; 
    font-size: larger;
    color: black;
    padding: 10px 15px; 
    transition: background-color 0.3s; 
}

.Link:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.homeimg img {
    height: 28px; 
    margin-top:9px;
    margin-right: 20px; 
}

.themeimg {
    margin-left: 20px; 
    margin-right: 20px;
}
